@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
  box-sizing: border-box;
 
}
.img{
 max-width: 100%;
}
.sidebar{
   display: flex;
   flex-direction: column;
   overflow-y: scroll;
   overflow-x: hidden;
   height: 100vh;
   
}
.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5); 
}
.sidebar:hover{
  cursor: pointer;
}
hr{
  margin: 8px;
}
.a{
    font-size: 1.3rem;
    font-weight: 600;
    background-color:rgba(111, 63, 178, 0.767);
    padding: 7px 15px 7px 15px;
    width: fit-content;
 border-radius: 100%;
 color: white;
 position: relative;
}
.round{
  width: 10px;
  height: 5px;
  background-color: rgb(38, 239, 38);
  position: absolute;
  padding: 6px;
  right: 2px;
  top: 33px;
  border-radius: 100%

}
.admin{
font-size: 1.1rem;
font-weight: 500;

}
.navitems{
    display: flex;
align-items: center;
    gap: 10px;
    padding: 10px;
}

.student{
  display: flex;
  align-items: center;
justify-content: space-between;
  padding: 12px;
}
.student2{
  display: flex;
  align-items: center;
  padding: 12px;
gap: 35px;
}
.info{
font-weight: 500;
color: rgba(5, 101, 255, 0.783);

}
.user{
  color: rgba(5, 101, 255, 0.783);


font-size: 1.1rem;
}
.chevron{
  color: rgba(5, 101, 255, 0.783);

  
}

#drop{
  display: none;
 
}
#drop.dropOpen{
  display: block;
}
.student3{
  display: flex;
  align-items: center;
  padding: 15px;
gap: 10px;
text-decoration: none;
}
#drop2{
  display: none;
}
#drop2.attenDropOpen{
  display: block;
}
#drop3{
  display: none;
}
#drop3.customerDropOpen{
  display: block;
}
#drop4{
  display: none;
}
#drop4.vendorDropOpen{
  display: block;
}
#drop5{
  display: none;
}
#drop5.leadsDropOpen{
  display: block;
}
#drop6{
  display: none;
}
#drop6.receiptDropOpen{
  display: block;
}
#drop7{
  display: none;
}
#drop7.interviewDropOpen{
  display: block;
}
#drop8{
  display: none;
}
#drop8.reportDropOpen{
  display: block;
}
#drop9{
  display: none;
}
#drop9.billDropOpen{
  display: block;
}
#drop10{
  display: none;
}
#drop10.masterDropOpen{
  display: block;
}
@media (max-width:1165px) {

}